/* Fonts */
@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-ThinItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-LightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-BlackItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 900;
}

@font-face {
	font-family: Poppins;
	src: url("static/fonts/Poppins-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Poppins;
	src: url("static/fonts/Poppins-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

html {
	overflow-x: hidden;
}

/* Basic Styling */
.body {
	font-family: Lato;
	min-height: 100vh;
	overflow-x: hidden;
}

.outer-wrapper {
	padding-left: 2rem;
	padding-right: 2rem;
}

.body-background-color {
	background-color: #f7f7f7;
	padding-bottom: 3rem;
}

.body-links-background-color {
	background-color: #f7f7f7;
	padding-bottom: 3rem;
}

#main-wrapper {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
}


/* Navigation Bar */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navigation-bar {
	background-color: #ffffff;
	height: 4.5rem;
	width: 100%;
	filter: drop-shadow(0.2rem 0.1rem 0.25rem #A5A5A5);
	position: sticky;
	top: 0;
	z-index: 100;
}

.navigation-bar-content {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	box-sizing: border-box;
}

.logo-container {
	display: flex;
	align-items: center;
	height: 100%;
}

.logo-container-background-hover {
	border-radius: 0.5rem;
	transition: all 0.25s ease;
}

.logo-container-background-hover:hover {
	background-color: #E6E6E6;
}

.logo-homepage-link {
	display: block;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	box-sizing: border-box;
}

.logo-homepage-link:link,
.logo-homepage-link:visited,
.logo-homepage-link:focus,
.logo-homepage-link:hover,
.logo-homepage-link:active {
	text-decoration: none;
	color: #000000;
}

.logo-image {
	object-fit: cover;
	max-height: 3rem;
	width: auto;
	height: auto;
}

.logo-text-szaniec {
	padding-left: 1.75rem;
	font-weight: 300;
	font-size: 2.2rem;
}

.menu-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

.li-category {
	font-weight: 400;
	font-size: 1.1rem;
	list-style-type: none;
	position: relative;
	height: 4.5rem;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: default;
	transition: all 0.25s ease;
}

.li-category-higher-expandable {
	padding: 0 2.5rem;
	font-weight: 400;
	font-size: 1.1rem;
	list-style-type: none;
	position: relative;
	height: 4.5rem;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: default;
	transition: all 0.25s ease;
}

.li-category-higher-expandable::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
	transition: all 0.25s ease;
}

.li-category:hover {
	background-color: #E6E6E6;
}

.li-category-higher-expandable:hover {
	background-color: #E6E6E6;
}

.li-category-higher-expandable:hover::after,
.li-category-higher-expandable:focus::after {
	transform: scale(1);
}

.menu-link-higher,
.menu-link-higher:link,
.menu-link-higher:visited,
.menu-link-higher:focus,
.menu-link-higher:active {
	display: block;
	padding: 0 2.5rem;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 4.5rem;
	box-sizing: border-box;
	color: #000000;
	text-decoration: none;
}

.menu-link-higher:hover {
	text-decoration: underline;
	text-decoration-thickness: 0.2rem;
	text-decoration-color: #0088CE;
	text-underline-offset: 0.29rem;
}

.menu-link-lower-expandable {
	display: block;
	padding: 0.7rem 1.3rem;
	font-size: 1rem;
	text-decoration: none;
	color: #000000;
	white-space: nowrap;
}

.ul-category-expanded {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 100;
	transition: all 0.25s ease;
}

.li-category-expanded {
	margin: 0;
	padding: 0;
	font-size: 0.85rem;
	line-height: 1.5rem;
	text-align: left;
	transition: all 0.25s ease;
	text-decoration: underline;
	text-decoration-thickness: 0.2rem;
	text-decoration-color: #ffffff;
	text-underline-offset: 0.29rem;
}

.li-category-higher-expandable:hover > .ul-category-expanded {
	display: block;
}

.li-category-expanded:hover {
	background-color: #E6E6E6;
	text-decoration: underline;
	text-decoration-thickness: 0.2rem;
	text-decoration-color: #0088CE;
	text-underline-offset: 0.29rem;
}

.li-category-expanded:hover:last-of-type {
	background-color: #E6E6E6;
	text-decoration: underline;
	text-decoration-thickness: 0.2rem;
	text-decoration-color: #0088CE;
	text-underline-offset: 0.29rem;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.li-category-span-arrow-container {
	display: flex;
	align-items: center;
}

.li-category-span {
	padding-right: 0.4rem;
}

.arrow-down {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.ul-generic {
	padding-left: 2rem;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 150%;
  	list-style-type: disc;
}

.li-generic {
	padding-left: 0.75rem;
}

.small-inside-paragraph-arrow {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
}


/*Important Info*/
.important-info-wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
}

.important-info-institution {
	display: flex;
	background-color: #ffffff;
	border-radius: 24px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	transition: all 0.25s ease;
}

.important-info-institution-mobile {
	color: #000000;
	text-decoration: none;
	display: flex;
	background-color: #ffffff;
	transition: all 0.25s ease;
}

.important-info-institution:hover,
.important-info-institution-mobile:hover {
	filter: brightness(85%);
}

.important-info-som {
	display: flex;
	background-color: #ffffff;
	border-radius: 24px;
	transition: all 0.25s ease;
}

.important-info-som:hover {
	filter: brightness(85%);
}

.important-info-link,
.important-info-link:hover,
.important-info-link:focus,
.important-info-link:active,
.important-info-link:visited {
	color: #000000;
	text-decoration: none;
}

.important-info-link-mobile,
.important-info-link-mobile:hover,
.important-info-link-mobile:focus,
.important-info-link-mobile:active,
.important-info-link-mobile:visited {
	color: #000000;
	text-decoration: none;
}

.important-info-icon-span-wrapper {
	display: flex;
	align-items: center;
}

.important-info-icon-container {
	display: flex;
	align-items: center;
	padding-left: 2rem;
}

.important-info-icon {
	width: 100%;
	max-height: 1.8rem;
}

.important-info-span-container {
	display: flex;
}

.important-info-span {
	font-size: 0.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.9rem;
	padding-bottom: 0.9rem;
	text-align: left;
}


/* Home Page Banner */
.homepage-banner {
	display: flex;
	padding-top: 1.25rem;
	max-height: 14rem;
	position: relative;
	z-index: 1;
	width: 100%;
}

.homepage-banner-image {
	width: 100%;
	max-height: 14rem;
	border-radius: 24px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	object-fit: cover;
	position: relative;
	z-index: 1;
}

.homepage-banner-image-text-top {
	position: absolute;
	z-index: 2;
	left: 1.5rem;
	bottom: 4rem;
}

.homepage-banner-image-text-bottom {
	position: absolute;
	z-index: 2;
	left: 1.5rem;
	bottom: 1rem;
	display: block;
}

.homepage-banner-image-text-span {
	font-family: Poppins;
	font-weight: 600;
	font-size: 2.2rem;
	color: #ffffff;
	text-shadow: 2px 2px 15px #1E1E1E;
}

.homepage-banner-logo {
	position: absolute;
	z-index: 2;
	right: 1.5rem;
	bottom: 1.8rem;
	max-height: 10rem;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	border-radius: 14px;
}

.homepage-banner-image-text-license {
	position: absolute;
	z-index: 2;
	left: 1.5rem;
	top: 2rem;
	font-size: 0.7rem;
	color: #353535;
	text-shadow: 1px 1px 1px #ffffff;
	background-color: #ffffff;
	border-radius: 24px;
	filter: opacity(60%);
}

.license,
.license:active,
.license:visited,
.license:focus {
	color: #353535;
	text-decoration: none;
	display: block;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.license:hover {
	color: #2b2b2b;
	text-decoration: underline;
	text-underline-offset: 0.15rem;
}


/* Break Lines */
.break-line-first {
	display: block;
	height: 1px;
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
	border: 0;
	border-top: 0.15rem solid #ECEAEA;
	padding: 0;
}

.break-line-second {
	display: block;
	height: 1px;
	margin-top: 0;
	margin-bottom: 3rem;
	border: 0;
	border-top: 0.15rem solid #ECEAEA;
	padding: 0;
}

.break-line-third {
	display: block;
	height: 1px;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border: 0;
	border-top: 0.15rem solid #ECEAEA;
	padding: 0;
}


/* Articles */
.article {
	width: 100%;
	margin-bottom: 3rem;
	background-color: #ffffff;
	border-radius: 24px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
}

.article:last-of-type {
	padding-bottom: 4rem;
}

.article-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 1.9rem;
	padding-bottom: 1.9rem;
}

.article-image-container {
	width: 33%;
	display: inline-block;
	padding-right: 2rem;
}

.article-image {
	object-fit: cover;
	width: 100%;
	height: 12rem;
	position: relative;
	border-radius: 24px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
}

.article-content-container {
	width: 67%;
	display: inline-block;
}

.article-content {
	padding-left: 6rem;
	font-family: Lato;
	line-height: 150%;
}

.article-title {
	font-weight: 900;
	color: #009246;
	font-size: 1.75rem;
	margin: 0;
	margin-bottom: 0.5rem;
	line-height: 130%;
}

.article-date {
	font-weight: 400;
	color: #858585;
	font-size: 0.75rem;
}

.article-lead {
	font-weight: 700;
	font-size: 1rem;
}

.article-text {
	font-weight: 400;
	font-size: 0.9rem;
}

.article-bold {
	font-weight: 700;
}

/* Article Links */
.article-link {
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	color: #0088CE;
}

.article-link:hover {
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	color: #0088CE;
}

.article-link:visited {
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	color: #0088CE;
}

.article-link:active {
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	color: #0088CE;
}


/* Events */
.head-events {
	font-weight: 900;
	color: #009246;
	font-size: 1.75rem;
	margin: 0;
	margin-bottom: 2.5rem;
	line-height: 130%;
}

.events-container {
	display: flex;
	width: 100%;
}

.event {
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	border-radius: 24px;
	flex: 1 1 0px;
	background-color: #ffffff;
	transition: all 0.25s ease;
}

.event:first-of-type {
	margin-left: 0;
	margin-right: 2rem;
	margin-top: 0;
	margin-bottom: 0;
}

.event:last-of-type {
	margin-left: 2rem;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.event:hover {
	filter: brightness(90%);
}

.event-link {
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
	text-decoration: none;
	transition: all 0.25s ease;
}

.event-link:visited, .event-link:focus, .event-link:active {
	color: #000000;
	text-decoration: none;
}

.event-image-wrapper {
	display: flex;
	margin: auto;
	height: 100%;
}

.event-image-container {
	display: flex;
	width: 100%;
	align-items: center;
}

.event-image {
	width: 100%;
	height: 8rem;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.partner-image {
	width: 100%;
	height: 8rem;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
}

.partner-image-chronotex {
	width: 100%;
	height: 8rem;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	border-radius: 24px;
}

.partner-image-tobartus {
	width: 100%;
	height: 8rem;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
	border-radius: 24px;
}

.event-title-container {
	text-align: center;
	padding-bottom: 1rem;
	display: flex;
}

.event-title {
	font-family: Lato;
	font-weight: 700;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
}

/* Footer */
#footer {
	background-color: #009246;
}

.footer-wrapper {
	max-width: 1050px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;
	box-sizing: border-box;
}

.site-map {
	display: flex;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.list-title {
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 700;
}

.site-map-list {
	color: #ffffff;
	list-style-position: inside;
	list-style-type: none;
	list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none"><path d="M0.5 7L3.5 4L0.5 1" stroke="%23FFFFFF"/></svg>');
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 2rem;
}

.site-map-list-container {
	margin-right: 4rem;
}

.site-map-list-container:last-of-type {
	margin-right: 0;
}

.site-map-list-item-link,
.site-map-list-item-link:visited,
.site-map-list-item-link:active,
.site-map-list-item-link:focus {
	color: #ffffff;
	text-decoration: none;
	font-size: 0.85rem;
	transition: all 0.25s ease;
}

.site-map-list-item-link:hover {
	color: #a7a7a7;
	text-decoration: none;
	font-size: 0.85rem;
}

.site-map-list-item {
	padding-bottom: 0.5rem;
}

.site-map-list-item:last-of-type {
	padding-bottom: 0;
}

.footer-szaniec-info-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.footer-szaniec-info-bold {
	display: block;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 700;
}

.footer-szaniec-info-text {
	display: block;
	color: #ffffff;
	font-size: 0.85rem;
}

.footer-szaniec-info-text-container {
	padding-top: 0.75rem;
	padding-bottom: 2rem;
}

.copyright-text-container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.copyright-text {
	font-size: 0.7rem;
	color: #003e1d
}


/*KONTAKT VALUES*/

.site-title-container {
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.site-title {
	font-size: 1.75rem;
	font-weight: 700;
	color:#009246;
	margin: 0;
}

.contact-details-main-container {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	background-color: #ffffff;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	border-radius: 24px;
	margin-bottom: 4rem;
}

.contact-details-heading-icon-container {
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
}

.contact-details-icon {
	max-height: 2rem;
	display: flex;
	align-items: center;
	padding-right: 0.75rem;
}

.contact-details-headline {
	font-size: 1.2rem;
	margin: 0;
}

.contact-details-paragraph {
	font-size: 1rem;
}

.contact-mailto,
.contact-mailto:hover,
.contact-mailto:active,
.contact-mailto:focus,
.contact-mailto:visited
 {
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	color: #0088CE;
}

.contact-map-photo-container {
	display: flex;
}

.google-map {
	border-radius: 24px;
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);

}

.contact-map-container {
	width: 66%;
	height: 21rem;
	padding-right: 2rem;
}

.contact-building-photo-container {
	width: 33%;
	height: 100%;
}

.contact-building-photo {
	object-fit: cover;
	width: 100%;
	height: 21rem;
	border-radius: 24px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
}


/*LINKI VALUES*/

.links-main-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 0;
}

.link-block {
	width: 45%;
	height: auto;
	margin-bottom: 3rem;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.link-block:last-of-type {
	margin-bottom: 0;
}

.link-content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	box-sizing: border-box;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.link-text-container {
	display: flex;
	flex-direction: column;
}

.link-title-container {
	min-height: 3rem;
}

.link-title-container-long {
	min-height: 4rem;
}

.link-title {
	font-size: 1.1rem;
	font-weight: 700;
	margin: 0;
	line-height: 130%;
}

.link-description {
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: 2rem;
	line-height: 150%;
}

.link-button,
.link-button:visited,
.link-button:focus,
.link-button:active {
	display: inline-flex;
	justify-content: center;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #009246;
	border-radius: 10px;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	transition: all 0.25s ease;
}

.link-button:hover {
	filter: brightness(85%);
}

.link-button-container {
	margin-top: auto;
}

.link-button-inside-span {
	margin-top: auto;
	margin-bottom: auto;
}

.link-button-inside-icon {
	display: inline-block;
	padding-left: 0.25rem;
	width: 1rem;
	height: 1rem;
	margin-top: auto;
	margin-bottom: auto;
}


/*WLADZE ODDZIALU VALUES*/

.wladze-main-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.wladze-main-container:last-of-type {
	margin-bottom: 0;
}

.wladze-content-wrapper {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	flex-direction: row;
}

.wladze-block {
	width: 45%;
	height: auto;
	margin-bottom: 3rem;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}



.people-description {
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: 0;
}

.wladze-title-container {
	padding: 1rem;
	margin-bottom: 1rem;
}

.wladze-title-span {
	font-size: 1.3rem;
	font-weight: 700;
	color: #009246
}

.wladze-icon-container {
	margin-right: 1rem;
}

.wladze-icon {
	height: 2rem;
	width: 100%;
}


/*ODZNAKI VALUES*/

.odznaka-block {
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 24px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 3rem;
}

.odznaka-block:last-of-type {
	margin-bottom: 0;
}

.odznaka-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 2.5rem;
	padding-left: 2.5rem;
	max-width: 700px;
}

.odznaka-photo {
	width: 33%;
}

.odznaka-image-container {
	padding-right: 2rem;
}

.odznaka-image {
	width: 100%;
	max-height: 9rem;
	object-fit: contain;
}

.odznaka-text {
	margin: auto;
}

.odznaka-title {
	font-size: 1.5rem;
	color: #009246;
	font-weight: 700;
	line-height: 130%;
}

.odznaka-description {
	font-size: 1rem;
	line-height: 150%;
}

.buttons-container {
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
}

.link-button-container-3n {
	margin-top: auto;
	margin-right: 1rem;
}

.link-button-container-3n:last-of-type {
	margin-top: auto;
	margin-right: 0;
}

.link-button-container-2n {
	margin-top: auto;
	margin-right: 1rem;
}

.link-button-container-2n:last-of-type {
	margin-top: auto;
	margin-right: 0;
}

.link-button-container-1n {
	margin-top: auto;
}

.odznaka-info-container {
	max-width: 700px;
}

.odznaka-info-description {
	font-size: 1rem;
	line-height: 150%;
}

.odznaka-list {
	line-height: 150%;
	padding-left: 2rem;
	list-style-type: disc;
}


/*GUIDES VALUES*/

.guides-main-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.guides-block {
	width: 45%;
	margin-bottom: 3rem;
	background-color: #FFFFFF;
	border-radius: 24px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.guides-content-wrapper {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	height: 100%;
}

.guides-block:nth-of-type(4),
.guides-block:nth-of-type(3)  {
	margin-bottom: 0;
}

.guides-person-icon-container{
	margin-right: 1rem;
}

.guides-person-icon-image {
	height: 2rem;
}

.guides-text-container {
	display: flex;
	flex-direction: column;
}

.guides-title-container {
	height: 2rem;
	display: flex;	
}

.guides-title {
	font-size: 1.1rem;
	font-weight: 700;
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 130%;
}

.guides-description {
	font-size: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.guides-contact-container {
	display: flex;
}

.guides-contact-icon-container {
	margin-right: 0.4rem;
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	align-content: center;
}

.guides-contact-icon {
	height: 1.2rem;
	width: 100%;
}

.guides-contact {
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: 0.3rem;
}


/*CALENDAR VALUES*/

.calendar-main-container {
	background-color: #ffffff;
	border-radius: 24px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	padding: 2rem;
}

.calendar-image-download {
	margin-bottom: 2rem;
	display:flex;
}

.calendar-image-download-text {
	font-size: 0.8rem;
}

.calendar-image-download-link,
.calendar-image-download-link:visited,
.calendar-image-download-link:focus,
.calendar-image-download-link:hover {
	text-decoration: underline;
	color: #0088CE;
	text-underline-offset: 0.2rem;
}

.calendar-description-row {
	width: 100%;
}

.calendar-description-row-wrapper {
	display: flex;
	width: 100%;
}

.calendar-description-date {
	width: 20%;
	padding: 1rem;
	padding-bottom: 2rem;
}

.calendar-description-event {
	width: 40%;
	padding: 1rem;
	padding-bottom: 2rem;
}

.calendar-description-organiser {
	width: 40%;
	padding: 1rem;
	padding-bottom: 2rem;
}

.calendar-description-text {
	color: #009246;
	font-size: 1.2rem;
	font-weight: 700;
}

.calendar-row-contrast {
	width: 100%;
	background-color: #f0f3f0;
}

.calendar-row-white {
	width: 100%;
	background-color: #ffffff;
}

.calendar-row-wrapper {
	display: flex;
	width: 100%;
}

.calendar-date-cell {
	width: 20%;
	padding: 1rem;
	display: flex;
}

.calendar-event-cell {
	width: 40%;
	padding: 1rem;
	display: flex;
}

.calendar-organiser-cell {
	width: 40%;
	padding: 1rem;
	display: flex;
}

.calendar-cell-text {
	margin-top: auto;
	margin-bottom: auto;
}


/*KOLA VALUES*/

.kola-main-container {
	margin-bottom: 3rem;
}

.kola-main-container:last-of-type {
	margin-bottom: 0rem;
}

.kola-background-radius {
	background-color: #ffffff;
	border-radius: 24px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.kolo-description-container {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1rem;
	padding-left: 1.1rem;
	padding-right: 1.1rem;
}

.triathlon-duathlon-logo-container {
	display: flex;
}

.traithlon-duathlon-logo-img-container {
	margin-left: auto;
	margin-right: auto;
	max-height: 9rem;
	padding-top: 2rem;
}

.traithlon-duathlon-logo-img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.kolo-title {
	font-size: 1.3rem;
	font-weight: 700;
	color: #009246;
	padding-top: 2.5rem;
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 1rem;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.kolo-description-paragraph-container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.kolo-description-paragraph {
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 1rem;
	line-height: 150%;
	margin-left: auto;
	margin-right: auto;
}

/*Wydarzenia*/

.wydarzenia-subtitile-span {
	font-size: 0.75rem;
	font-weight: 300;
}

.wydarzenie-title {
	font-size: 1.3rem;
	font-weight: 700;
	color: #009246;
	padding-top: 1.5rem;
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 0.1rem;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.wydarzenia-image {
	max-height: 18rem;
	width: 100%;
	object-fit: cover;
	border-radius: 24px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
}

.wydarzenia-image-license {
	font-size: 0.7rem;
	color: #353535;
	text-shadow: 1px 1px 1px #ffffff;
	border-radius: 24px;
	filter: opacity(60%);
}

.wydarzenia-description-paragraph {
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 0;
	line-height: 150%;
	margin-left: auto;
	margin-right: auto;
}

.wydarzenia-description-container {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1.1rem;
	padding-right: 1.1rem;
}

/*Wydarzenia see more with buttons*/

.wydarzenia-see-more-main-container {
	margin-bottom: 3rem;
}

.wydarzenia-see-more-main-container:last-of-type {
	margin-bottom: 0rem;
}

.wydarzenia-see-more-background-radius {
	background-color: #ffffff;
	border-radius: 24px;
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.wydarzenia-see-more-description-container {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1.1rem;
	padding-right: 1.1rem;
}

.wydarzenia-see-more-header-container {
	width: 100%;
	display: flex;
	margin-bottom: 2rem;
}

.wydarzenia-see-more-header {
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3rem;
	font-weight: 700;
	text-align: center;
}

.wydarzenia-see-more-buttons-wrapper {
	width: 100%;
	display: flex;
}

.wydarzenia-see-more-button-container {
	margin-right: 2rem;
	margin-left: 2rem;
}

.wydarzenia-see-more-button-link {
	display: inline-flex;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	background-color: #009246;
	border-radius: 14px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.25s ease;
}

.wydarzenia-see-more-button-link:visited {
	display: inline-flex;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	background-color: #009246;
	border-radius: 14px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.25s ease;
}

.wydarzenia-see-more-button-link:focus {
	display: inline-flex;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	background-color: #009246;
	border-radius: 14px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.25s ease;
}

.wydarzenia-see-more-button-link:hover {
	display: inline-flex;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	background-color: #009246;
	border-radius: 14px;
	color: #ffffff;
	text-decoration: none;
	filter: brightness(85%);
}

.wydarzenia-see-more-button-link-span {
	font-weight: 700;
	margin-top: auto;
  	margin-bottom: auto;
}

.wydarzenia-see-more-button-link-img {
	display: inline-block;
  	padding-left: 0.25rem;
  	width: 1.1rem;
  	height: 1.1rem;
  	margin-top: auto;
  	margin-bottom: auto;
}

.wydarzenia-see-more-button-container-single {
	margin-left: auto;
	margin-right: auto;
}

/*Eye cathing text*/

.eye-catching-text-container {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.eye-catching-text {
	font-size: 1.05rem;
	font-weight: 700;
	margin: 0;
	text-align: center;
	color: #009246;
}

/* Mobile */

@media (width <= 1040px) {
	.outer-wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	.menu-container {
		display: none !important;
	}

	.hamburger-menu {
		display: flex;
	}

	.important-info {
		display: none;
	}

	.important-info-mobile {
		display: flex;
	}

	.homepage-banner-image-text-span {
		font-size: 1.2rem;
	}

	.homepage-banner-image-text-top {
		bottom: 2.7rem;
	}

	.homepage-banner-logo {
		max-height: 5rem;
	}

	.article-image-container {
		padding-bottom: 2rem;
		padding-right: 0;
		width: 100%;
	}

	.article-content-container {
		width: 100%;
	}

	.article-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-right: 2.5rem;
		padding-left: 2.5rem;
		padding-top: 1.9rem;
		padding-bottom: 1.9rem;
	}

	.article-content {
		padding: 0;
		font-family: Lato;
		line-height: 150%;
	}

	.events-container {
		flex-direction: column;
	}

	.event {
		margin-bottom: 2rem;
		margin-right: 0;
	}

	.event:first-of-type {
		margin-bottom: 2rem;
		margin-right: 0;
	}

	.event:last-of-type {
		margin-bottom: 0;
		margin-left: 0;
	}

	.partner-image-chronotex {
		background-color: #f07e01;
	}

	.partner-image-chronotex {
		object-fit: contain;
		height: 9rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.partner-image {
		object-fit: contain;
		height: 9rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.partner-image-tobartus {
		object-fit: contain;
		height: 9rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.buttons-container {
		flex-direction: column;
	}

	.link-button-container-2n {
		margin-bottom: 0.5rem;
	}

	.link-button-container-2n:last-of-type {
		margin-bottom: 0rem;
	}
	
	.link-button-container-3n {
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	.link-button-container-3n:last-of-type {
		margin-bottom: 0;
	}

	.contact-details-main-container {
		justify-content: flex-start;
		flex-direction: column;
	}

	.contact-details-container {
		margin-bottom: 2.5rem;
	}

	.contact-details-container:last-of-type {
		margin-bottom: 0;
	}

	.contact-details-heading-icon-container {
		padding-bottom: 0;
	}

	.contact-map-photo-container {
		flex-direction: column;
	}

	.contact-map-container {
		width: 100%;
		margin-bottom: 2rem;
	}

	.contact-building-photo-container {
		width: 100%;
	}

	.links-main-container {
		flex-direction: column;
	}

	.link-block {
		width: 100%;
	}

	.footer-content {
		flex-direction: column;
		justify-content: left;
		padding-top: 2rem;
	}

	.site-map {
		flex-direction: column;
		padding-top: 0;
		padding-bottom: 0;
	}

	.site-map-list {
		margin-top: 1rem;
	}

	.site-map-list-container {
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.footer-szaniec-info-container {
		padding-top: 0;
		padding-bottom: 0;
	}

	.site-map-list-item-link:hover {
		font-size: 0.9rem;
	}

	.site-map-list-item-link {
		font-size: 0.9rem;
	}

	.wladze-block {
		width: 90%;
	}
	
	.wladze-main-container {
		flex-direction: column;
	}

	.guides-main-container {
		flex-flow: column wrap;
	}

	.guides-block {
		width: 90%;
	}

	.kolo-description-container {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	.wydarzenia-description-container {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	.odznaka-wrapper {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	.calendar-main-container {
		padding: 1rem;
	}
}

@media (width > 1040px) {
	.hamburger-menu {
		display: none;
	}

	.important-info {
		display: inline;
	}
}

.sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.sidebar.show {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.li-sidebar {
	width: 100%;
}

.a-sidebar {
	color: #000000;
	text-decoration: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	display: block; 
}

.a-sidebar:visited {
	color: #000000;
	text-decoration: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	display: block; 
}

.a-sidebar:focus {
	color: #000000;
	text-decoration: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	display: block; 
}

.a-sidebar:hover {
	background-color: #E6E6E6;
	transition: all 0.25s ease;
}

.a-sidebar-dropdown {
	color: #000000;
	text-decoration: none;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1rem;
	display: block; 
}

.a-sidebar-dropdown:hover {
	background-color: #E6E6E6;
	transition: all 0.25s ease;
}

.hamburger-menu-container {
	padding: 0.25rem;
	cursor: pointer;
	background-color: #ffffff;
	border: none;
}

.hamburger-menu-container:hover {
	background-color: #E6E6E6;
	border-radius: 10%;
	transition: all 0.25s ease;
}

.hamburger-menu {
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.x-button-container {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
}

.x-button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	background-color: #ffffff;
	padding: 0.25rem;
}

.x-button:hover {
	background-color: #E6E6E6;
	border-radius: 10%;
	transition: all 0.25s ease;
}

.sidebar-dropdown-category-button {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	cursor: pointer;
	border: none;
	background-color: #ffffff;
	font-size: 1rem;
	font-family: Lato;
	font-weight: 400;
}

.sidebar-dropdown-category-button:hover {
	background-color: #E6E6E6;
	transition: all 0.25s ease;
}

.rotate svg:last-child {
	rotate: -180deg;
}

.sidebar-dropdown-category-button svg {
	transition: 200ms ease;
}

.ul-sidebar-dropdown {
	list-style: none;
	display: grid;
	grid-template-rows: 0fr;
	transition: 300ms ease-in-out;

	> div {
		overflow: hidden;
	}
}

.ul-sidebar-dropdown.show {
	grid-template-rows: 1fr;
}