@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-ThinItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-LightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: Lato;
	src: url("static/fonts/Lato-BlackItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 900;
}

#main-wrapper {
max-width: 1440px;
}

#navigation-bar {
max-height: 4rem;
position: fixed;
}